{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1 class="h3 mb-3 font-weight-normal text-center">Inscription</h1>

	{{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
	<div class="mb-3">
		{{ form_row(registrationForm.email, {
                label: 'Adresse email',
                attr: {'class': 'form-control'}
            }) }}
	</div>

	<div class="mb-3">
		{{ form_row(registrationForm.pseudo, {
                label: 'Pseudo',
                attr: {'class': 'form-control'}
            }) }}
	</div>

	<div class="mb-3">
		{{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                attr: {'class': 'form-control'}
            }) }}
	</div>

	<div class="mb-3">
		{{ form_row(registrationForm.nom, {
			label: 'Nom',
			attr: {'class': 'form-control'}
		}) }}
	</div>

	<div class="mb-3">
		{{ form_row(registrationForm.prenom, {
			label: 'Prenom',
			attr: {'class': 'form-control'}
		}) }}
	</div>

	<div class="mb-3">
		{{ form_row(registrationForm.telephone, {
			label: 'Téléphone',
			attr: {'class': 'form-control'}
		}) }}
	</div>

	<div class="mb-3">
		{{ form_row(registrationForm.adresse, {
			label: 'Adresse',
			attr: {'class': 'form-control'}
		}) }}
	</div>

	<div class="mb-3">
		{{ form_row(registrationForm.dateNaissance, {
			label: 'Date de naissance',
			attr: {'class': 'form-control'}
		}) }}
	</div>

	<div class="mb-3">
		{{ form_row(registrationForm.photo, {
			label: 'Date de naissance',
			attr: {'class': 'form-control'}
		}) }}
	</div>

	<div class="mb-3">
		{{ form_row(registrationForm.agreeTerms, {
			label: 'Accepter les termes et conditions'
		}) }}
	</div>

	<div class="text-center">
		<button type="submit" class="btn btn-primary">S'inscrire</button>
	</div>
	{{ form_end(registrationForm) }}
{% endblock %}

