{% extends 'base.html.twig' %}

{% block title %}Les Covoiturages
{% endblock %}

{% block body %}
	<h1>Les covoiturages</h1>
	<p>Retrouvez ici la liste des covoiturages disponibles.</p>
	<a href="{{ path('app_covoiturage_ajouter') }}">Créer un nouveau covoiturage</a>

	<div class="mb-4">
		<form method="get" action="{{ path('app_covoiturage') }}">
			<div class="form-group">
				<label for="departure">Lieu de départ</label>
				<input type="text" id="departure" name="departure" class="form-control" value="{{ app.request.query.get('departure') }}">
			</div>
			<div class="form-group">
				<label for="arrival">Lieu d'arrivée</label>
				<input type="text" id="arrival" name="arrival" class="form-control" value="{{ app.request.query.get('arrival') }}">
			</div>
			<div class="form-group">
				<label for="departureDate">Date de départ</label>
				<input type="date" id="departureDate" name="departureDate" class="form-control" value="{{ app.request.query.get('departureDate') }}">
			</div>
			<div class="form-group">
				<label for="arrivalDate">Date d'arrivée</label>
				<input type="date" id="arrivalDate" name="arrivalDate" class="form-control" value="{{ app.request.query.get('arrivalDate') }}">
			</div>
			<button type="submit" class="btn btn-primary">Rechercher</button>
		</form>
	</div>
	
{% if covoiturages|length > 0 %}
	<div class="container">
		<div class="row">
			{% for covoiturage in covoiturages %}
				<div class="col-md-4 mb-4">
					<div class="card" style="max-width: 400px;">
						<div class="row">
							<!-- Première partie : Infos utilisateur -->
							<div class="col-6 d-flex flex-column justify-content-center align-items-center p-3">
								{% for users in covoiturage.users %}
									<h5 class="card-title">{{ users.pseudo }}</h5>
									<div class="photo mb-3">
										{% if users.getPhoto() %}
											<img src="{{ asset('uploads/user/' ~ users.getPhoto()) }}" class="img-fluid rounded-circle" alt="{{ users.pseudo }}'s photo" style="width: 80px; height: 80px; object-fit: cover;">
										{% else %}
											<img src="{{ asset('uploads/user/user_default.webp') }}" class="img-fluid rounded-circle" alt="Default photo" style="width: 80px; height: 80px; object-fit: cover;">
										{% endif %}
									</div>
									<div class="stars">
										{% if users.avis|length > 0 %}
											{% set averageNote = users.avis|reduce((carry, avis) => carry + avis.note, 0) / users.avis|length %}
											{% for i in 1..5 %}
												{% if i <= averageNote %}
													<i class="fas fa-star" style="color: gold;"></i>
												{% else %}
													<i class="fas fa-star" style="color: lightgray;"></i>
												{% endif %}
											{% endfor %}
										{% else %}
											<span>Pas d'avis</span>
										{% endif %}
									</div>
								{% endfor %}
							</div>

							<!-- Deuxième partie : Infos covoiturage -->
							<div class="col-6">
								<div class="card-body">
									<h5 class="card-title">{{ covoiturage.getLieuDepart() }}
										-
										{{ covoiturage.getLieuArrivee() }}</h5>
									<p class="card-text">Prix :
										{{ covoiturage.getPrixPersonne() }}
										pièces</p>
									<div class="text-end">
										<p class="card-end">
											<strong>{{ covoiturage.statut ? 'Eco' : 'Standard' }}</strong>
										</p>
									</div>
									<div class="text-center">
										<a href="{{ path('covoiturage_detail', {'id': covoiturage.id}) }}" class="btn btn-primary">Détail</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% else %}
	<p>Aucun covoiturage trouvé.</p>
{% endif %}


{% endblock %}

